
footer{
     width: 100%;
    position:static;
    left: 0;
    bottom: 0;
    height: 30px;
    text-align: center;
    font-family: 'bold';
}

.line-footer{
    height: 1px;
    background: black;
    
}
